body{
    color: black ;
    background: red(204 , 187 ,187);

    margin: Opx;
}

    hearder{
    border-bottom: solid 2px black;
    
    padding: 20px ;
    font-size: 32px ;
    color: blueviolet ;
}

section{
    background-color: pink;
    padding-top: 80px;
    padding-top: 80px ;
    display: flex ;
    justify-content: center ;
}

.chamada-text {
margin-right: 5% ;
}


